body {
  background-image: url("../imagenes/Fondos.jpg");
  height: 200px;
  width: 1350px;
  position:static;
  background-repeat: no-repeat;
}
.imag {
  background-image: url("../imagenes/ani.jpg");
  height: 200px;
  width: 1350px;
  position: fixed;
  background-repeat: no-repeat;
}
.img{
  background-image: url("../imagenes/fond12.jpg");


}
.login h2 {

  font-family: 'Kaushan Script', cursive;
  font-size: 3rem;
  font-weight: bold;
  color: #067e78;
  font-style: italic
}